{% extends "base.html" %}

{% block content %}
    <h1 style="text-align: center">Выставить на продажу</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p style="text-align: center">
            {{ form.item_name.label }}<br>
            {{ form.item_name() }}<br>
        </p>
        <p style="text-align: center">
            {{ form.description.label }}<br>
            {{ form.description() }}<br>
        </p>
        <p style="text-align: center">
            {{ form.seller_name.label }}<br>
            {{ form.seller_name() }}<br>
        </p>
        <p style="text-align: center">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}