{% extends "base.html" %}

{% block content %}
    <h1 align="center" style="color:while">Добавить работу</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p align="center" style="color:while">
            {{ form.job.label }}<br>
            {{ form.job()}}<br>
        </p>
        <p align="center" style="color:while">
            {{ form.team_leader.label }}<br>
            {{ form.team_leader()}}<br>
        </p>
        <p align="center" style="color:while">
            {{ form.work_size.label }}<br>
            {{ form.work_size()}}<br>
        </p>
        <p align="center" style="color:while">
            {{ form.collaborators.label }}<br>
            {{ form.collaborators()}}<br>
        </p>
        <p align="center" style="color:while">
        </p>
        <p align="center" style="color:while">{{ form.work_done() }} {{ form.work_done.label }}</p>
        <p align="center">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div align="center">{{ message }}</div>
    </form>
{% endblock %}