{% extends "base.html" %}

{% block content %}
    <head>
        <title>{{ item_name }}</title>
    </head>
    <body>
        <form action="{{ url_for('catalog') }}">
            <button class="btn btn-danger">←</button>
        </form>
        <h1 style="text-align: center">{{ item_name }}</h1>
         {% if image_path %}
            <div style="text-align: center; margin: 20px 0">
                <img
                    src="\static\{{ image_path }}"
                    alt="static\{{ image_path }}"
                    style="max-width: 500px; border-radius: 8px"
                >
            </div>
        {% endif %}
        <p style="text-align: center">{{ description }}</p>
        <div style="text-align: center">
            <form action="{{ url_for('buy_solo', item_id=item_id) }}" method="POST">
      <button class="btn btn-success">Купить</button>
            </form>
            <form action="{{ url_for('add_to_basket', item_id=item_id) }}" method="POST">
                <button class="btn btn-success">В корзину</button>
            </form>
        </div>
    </body>
{% endblock %}
